---
import Base from '../layouts/Base.astro';
import '../styles/style.css';
---

<Base title='Контакты'>
	<section
		class='bg-secondary min-h-screen w-full bg-cover text-primary text-center'
	>
		<h1
			class='Garamod font-bold text-4xl sm:text-7xl leading-tight py-[80px] text-center'
		>
			Контакты
		</h1>

		<div class='grid w-full h-fit place-items-center'>
			<script
				type='text/javascript'
				charset='utf-8'
				async
				src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24e4f9c58fe3cea503e4cb3bcdf504cfa0f6bd9d471fdbc55e690602ba277875&width=650&height=650&lang=ru_RU&scroll=true'
			></script>
		</div>
	</section>
</Base>
