---
import Base from '../layouts/Base.astro';
import '../styles/style.css';
---

<Base title='Контакты'>
	<section
		class='bg-secondary min-h-screen w-full bg-cover text-primary text-center'
	>
		<h1
			class='Garamod font-bold text-4xl sm:text-7xl leading-tight py-[80px] text-center'
		>
			Контакты
		</h1>
	</section>
</Base>
