---
import Base from '../layouts/Base.astro';
import '../styles/style.css';
---

<Base title='Акции'>
	<section
		class='bg-secondary min-h-screen w-full bg-cover text-primary grid place-items-center'
	>
		<h1
			class='Garamod font-bold text-4xl sm:text-7xl text-center max-w-[961px] leading-tight py-[80px]'
		>
			Цены на услуги
		</h1>
		<div
			class='container grid grid-cols-1 sm:grid-cols-2 justify-between gap-[140px] items-center'
		>
			<img src='/images/prises.jpg' alt='prises' />
			<div class='flex flex-col gap-10'>
				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>
			</div>
		</div>

		<div
			class='container grid grid-cols-1 sm:grid-cols-2 justify-between gap-[140px] items-center pt-[80px]'
		>
			<div class='flex flex-col gap-10'>
				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>
			</div>
			<img src='/images/prises.jpg' alt='prises' />
		</div>

		<div
			class='container grid grid-cols-1 sm:grid-cols-2 justify-between gap-[140px] items-center pt-[80px]'
		>
			<img src='/images/prises.jpg' alt='prises' />
			<div class='flex flex-col gap-10'>
				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>

				<div class='border-b-2 border-primary'>
					<div class='flex justify-between'>
						<h3 class='font-bold text-3xl'>Женская укладка</h3>
						<p class='font-bold text-xl'>1000 p</p>
					</div>

					<div class='font-bold text-xl'>+ обработк кончинков волос</div>
				</div>
			</div>
		</div>
	</section>
</Base>
